.digitalItem{
    height: 350px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5%;
    border-radius: 15px;
    background-color:rgb(197, 31, 31);
}

.digitalImg{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.digitalText{
    width: fit-content;
    font-size: 20px;
    color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}