/****************************************************************************************/
/*GENERAL********************************************************************************/
.appContainer{
    width: 100%;
    height: 100%;
    background-color: aqua;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*NAVBAR*********************************************************************************/

.navBar{
    width: 100%;
    height: 11%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: aliceblue;
    /*z-index: 1;*/
}

.topBar{
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.botBar{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftSide{
    display: flex;
    align-items: center;
}

.rightSide{
    display: flex;
    align-items: center;
}

.nintendoLogo{
    height: 100%;
    width: auto;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    margin-left: 0%;
    width: 500px;
}

.navIcon{
    max-height: 25px;
    margin-right: 5px;
}

.categories{
    margin-left: 20px;
}

.navItem{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.lastItem{
    padding-right: 15px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(146, 146, 146);
}

/*BAYONETTA******************************************************************************/
.banner{
    width: 100%;
    margin-top: 5.2%;
    position: absolute;
    left: 0%;
}

.bannerImg{
    width: 100%;
}

.bannerInfo{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}

.leftText{
    font-size: 25px;
    color: rgb(85, 85, 85);
}

.leftButton{
    background-color: rgb(255, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.esrb{
    height: 70px;
}

.rightText{
    margin-left: 15px;
    font-size: 15px;
    color: rgb(146, 146, 146);
}

/*FEATURED*******************************************************************************/
.featured{
    width: 100%;
    margin-top: 49.85%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featBannerInfo{
    width: 66%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.featBannerDiv{
    display: flex;
    align-items: center;
}

/*ONLINE STORE***************************************************************************/
.onlineStore{
    width: 100%;
    margin-top: 80.5%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onlineBannerInfo{
    width: 66%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.onlineBannerDiv{
    display: flex;
    align-items: center;
}

/*GAMING SYSTEMS*************************************************************************/
.gamingSystems{
    width: 100%;
    margin-top: 101.9%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamingBannerInfo{
    width: 66%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.gamingBannerDiv{
    display: flex;
    align-items: center;
}

/****************************************************************************************/
.news{
    width: 100%;
    margin-top: 133.6%;
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsBannerInfo{
    width: 66%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.bigNews{
    display: flex;
    justify-content: space-between;
}

.smallNews{
    display: flex;
    justify-content: space-between;
}

.leftButtonMod{
    background-color: rgb(255, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}